<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aquaplantx"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:configChanges = "orientation"
         >
        <activity
            android:name="com.example.aquaplantx.GetTime"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.aquaplantx.Menu2Program" />
        <activity android:name="com.example.aquaplantx.Menu3Program" />
        <activity android:name="com.example.aquaplantx.GetPumpTime" />
        <activity android:name="com.example.aquaplantx.GetProgramTime" />
        <activity android:name="com.example.aquaplantx.GetArduinoClock" />
    </application>
    

</manifest>